In [2]:
import numpy as np
import pandas as pd

In [3]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6,4),index = dates, columns = list("ABCD"))
df

                   A         B         C         D
2013-01-01 -0.118251 -0.866321 -1.749245  1.159825
2013-01-02  2.541842 -1.530412  0.012320 -0.975587
2013-01-03 -0.098923 -0.615426  1.223090  0.535878
2013-01-04 -1.421957  0.527518 -0.079078  0.709001
2013-01-05  0.079845 -1.316202 -1.123249 -0.242836
2013-01-06  0.351377 -1.362060  0.504089 -0.629227

In [5]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [7]:
df.values

array([[-0.11825081, -0.86632136, -1.74924512,  1.15982474],
       [ 2.54184238, -1.53041151,  0.01231956, -0.97558729],
       [-0.09892271, -0.61542584,  1.22308953,  0.53587802],
       [-1.42195655,  0.5275185 , -0.07907801,  0.70900134],
       [ 0.07984489, -1.31620236, -1.12324919, -0.24283613],
       [ 0.35137681, -1.36205979,  0.50408906, -0.62922667]])

In [8]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.222322 -0.860484 -0.202012  0.092842
std    1.291508  0.760881  1.080107  0.835463
min   -1.421957 -1.530412 -1.749245 -0.975587
25%   -0.113419 -1.350595 -0.862206 -0.532629
50%   -0.009539 -1.091262 -0.033379  0.146521
75%    0.283494 -0.678150  0.381147  0.665721
max    2.541842  0.527518  1.223090  1.159825

In [9]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.118251    2.541842   -0.098923   -1.421957    0.079845    0.351377
B   -0.866321   -1.530412   -0.615426    0.527518   -1.316202   -1.362060
C   -1.749245    0.012320    1.223090   -0.079078   -1.123249    0.504089
D    1.159825   -0.975587    0.535878    0.709001   -0.242836   -0.629227

In [11]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-02  2.541842 -1.530412  0.012320 -0.975587
2013-01-06  0.351377 -1.362060  0.504089 -0.629227
2013-01-05  0.079845 -1.316202 -1.123249 -0.242836
2013-01-01 -0.118251 -0.866321 -1.749245  1.159825
2013-01-03 -0.098923 -0.615426  1.223090  0.535878
2013-01-04 -1.421957  0.527518 -0.079078  0.709001

In [12]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02  2.541842 -1.530412
2013-01-03 -0.098923 -0.615426
2013-01-04 -1.421957  0.527518